{erl_opts, [
    debug_info,
    {parse_transform, vsn_transform}
]}.

{deps, [
    {crc32cer, "0.1.11"},
    {snappyer, "1.2.9"},
    {telemetry, "1.3.0"},

    {vsn_transform, {git, "https://github.com/rlipscombe/vsn_transform.git", {tag, "1.0.2"}}}
]}.

{shell, [
    {apps, [kafcod, telemetry]}
]}.

{profiles, [
    {test, [
        {deps, [
            {uuid, "2.0.7", {pkg, uuid_erl}}
        ]}
    ]},

    % erlang.mk doesn't currently support 'git_subdir' dependencies when reading rebar.config. Putting
    % 'eqwalizer_support' in a separate profile causes it to skip over it.
    {eqwalizer, [
        {deps, [
            {eqwalizer_support,
                {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
                    "eqwalizer_sxupport"}}
        ]}
    ]},

    {trace, [
        {erl_opts, [{d, 'DECODER_TRACING'}]},
        {eunit_opts, [
            {start_modules, [test_helper]},
            {sys_config, ["config/eunit.config", "config/debug.config"]}
        ]}
    ]}
]}.

{project_plugins, [
    {rebar3_eunit_start,
        {git, "https://github.com/rlipscombe/rebar3_eunit_start.git", {tag, "0.1.0"}}}
]}.
{provider_hooks, [{pre, [{eunit, {default, rebar3_eunit_start}}]}]}.

{eunit_opts, [
    {start_modules, [test_helper]},
    {sys_config, ["config/eunit.config"]}
]}.
