{erl_opts, [debug_info]}.
{deps, [
    kafcod,
    {logger_color_formatter,
        {git, "https://github.com/rlipscombe/logger_color_formatter.git", {tag, "0.5.0"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [group_consumer]}
]}.

{profiles, [
    {test, [
        {deps, [{unite, "0.4.2"}]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.
