{erl_opts, [no_debug_info]}.
{deps, [
    {jsx, "3.1.0"}
]}.

{escript_incl_apps, [make_codecs, jsx]}.
{escript_main_app, make_codecs}.
{escript_name, make_codecs}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.
