{erl_opts, [no_debug_info]}.
{deps, [kafcod]}.

{escript_incl_apps, [reassign]}.
{escript_main_app, reassign}.
{escript_name, reassign}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.
